@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    color: white;
    background-color: black;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    color: black;
    background-color: white;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

section.imagem {
    background-repeat: no-repeat;    
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    text-shadow: 1px 1px black;
}

section > p {
    padding-bottom: 2em;
}

html, body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}